<h1>Hello I am the About Page</h1>


<%= link_to image_tag("yelp_logo", id: "yelp"), "https://www.yelp.ca/" %>

<%= link_to image_tag("google_maps", id: "google_maps"), "https://www.google.ca/maps" %>
