<style>

  p {
    font-family: 'Hind', sans-serif;
    font-size: 1.4em;
    line-height: 1.4em;
    color: #223EA5;
  }

  #bowtie {
    float:left;
    width: 250px;
    border: 3px solid #fff;
    border-radius: 5px;
    margin: 8px;
    margin-top: 0;
  }
  #jesus {
    float:right;
    width: 200px;
    border: 3px solid #fff;
    border-radius: 5px;
    margin: 8px;
  }
</style>

<br/>



<div class="biglogo">
  <img src="/assets/frotogo.png"/>
</div>

<div class="big_box_about">
  <img src="/assets/bowtie.jpg" id="bowtie" /><p><b>froTOgo</b> became what it is today because one day I was in the right place at the wrong time, literally. When I started attending coding bootcamp at Bitmaker Labs, I was pleasantly surprised to see a traditional ice cream truck parked across the road every day. I began to enjoy the occasional delicious dipped soft serve cone, prepared by a nice guy in a bow tie.</p>

<p>One hot afternoon, when the craving for a treat emerged after completing a tough assignment, I stepped out onto King St and the truck was nowhere to be seen. Disappointed, I was reminded that street parking rules are different here in the city core and the truck had to be gone by 3pm. Forced to seek out a cone nearby using my phone, I found a place called Sweet Jesus just around the corner. Lucky me!</p><img src="/assets/jesus.jpg" id="jesus" />
  <p>Little did I know these gourmet cone shops were so popular, a crowd of devoted fans lined up down the street for unique decadent cones with over-the-top themed toppings. Intrigued, I stepped into line and began researching the ice cream craze that exists in Toronto.</p>

<p>After reading a few articles about the unique scene the city has embraced, I was convinced that froTOgo was just waiting to be built. Frozen treat fans deserve a full interactive directory of shops in the city to satisfy their cravings right away, whether it's a gelato bar, hard ice cream scooped high, a crazy twist of froyo flavours, or a unique dessert imported from the global community here in Toronto. froTOgo's life has just begun and there are many more features on the way. Enjoy! &nbsp;&nbsp;- Brian</p>
<br>
<p><small>Site developed by Brian Harrison and Daniel Valle.
<br>
Site features provided by Yelp and Google Maps.</small></p>
<br>
</div>
<div>
  <br />
  <br />
  <br />
  <br />
</div>
