<style>
  .faq {
    margin-left: 20px;
}
  .faqlist {
    font-family: 'Hind', sans-serif;
    font-size: 1.35em;
    line-height: 1.5em;
    color: #223EA5;
  }
  p {
    font-family: 'Hind', sans-serif;
    font-size: 1.35em;
    line-height: 1.5em;
    color: #223EA5;
  }
</style>

  <br>
<br>
<br>
<div class="faq">
  <h1 style="color: #223EA5;">Welcome to the froTOgo FAQ:</h1>
<br>
&nbsp;&nbsp;&nbsp;<p>Here you will find the answers to questions that frozen treat lovers like you would ask in Toronto:<br>
Some examples...</p>
<ul class="faqlist">
  <li>Can I get my frozen fix at Pearson Airport?</li>
  <li>What's the best frozen treat for a family day at Canada's Wonderland?</li>
  <li>Where can I find ice cream under downtown's streets in the PATH system?</li>
  <li>How do I cool off with a chilly treat at the Toronto Zoo?</li>
  <li>Is there somewhere on Centre Island to get a round of fro to go?</li>
  <li>Where can I get a cone when I'm visiting the Lakeshore West area?</li>
  <li>What are some of the top spots for fro to go in the GTA?</li>
</ul>
<br>

  <p>All these answers and more coming soon on our FAQ page.</p>
</div>
