<div class="biglogo">
  <img src="/assets/frotogo.png"/>
</div>


<div class="search_box_caption">
  <h1 id="tagline"> Seek out the frozen treats you crave with Toronto's Coolest Website!</h1>
</div>
<div class="big_box">
    <h6 class="bigbox_h6"><b id="instructions">Click on a category below, select some stores, and... PRESTO!</b></h6>
<div class="search_box">
<ul class="accordion" data-accordion data-allow-all-closed="true">
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title cat1"><b>Ice Cream</b></a>
    <div class="accordion-content boxtab" data-tab-content>
      <ul>
        <li>
        <input type="checkbox" name="all" id="all" />
        <label for="all"><b>Select All</b></label>
          <ul class="row">
            <li class="small-12 medium-6 large-4 xlarge-6 columns">
              <input type="checkbox" class="store_category box_1" name="selected[]" id="box_1" value="baskin" />
              <label for="box_1">Baskin-Robbins</label>
            </li>
            <li class="small-12 medium-6 large-4 xlarge-6 columns">
              <input type="checkbox" class="store_category box_2" name="selected[]" id="box_2" value="scoop shop" /> <label for="box_2">Scoop Shop</label>
            </li>
            <li class="small-12 medium-6 large-4 xlarge-6 columns">
              <input type="checkbox" class="store_category box_3" name="selected[]" id="box_3" value="marble" /> <label for="box_3">Marble Slab Creamery</label>
            </li>
            <li class="small-12 medium-6 large-4 xlarge-6 columns">
              <input type="checkbox" class="store_category box_4" name="selected[]" id="box_4" value="ed's real" /> <label for="box_4">Ed's Real Scoop</label>
            </li>
            <li class="small-12 medium-6 large-4 xlarge-6 columns">
              <input type="checkbox" class="store_category box_5" name="selected[]" id="box_5" value="olenka" /> <label for="box_5">Sweet Olenka's</label>
            </li>
            <li class="small-12 medium-6 large-4 xlarge-6 columns">
              <input type="checkbox" class="store_category box_6" name="selected[]" id="box_6" value="greg" /> <label for="box_6">Greg's Ice Cream</label>
            </li>
            <li class="small-12 medium-6 large-4 xlarge-6 columns">
              <input type="checkbox" class="store_category box_7" name="selected[]" id="box_7" value="dutch" /> <label for="box_7">Dutch Dreams</label>
            </li>
            <li class="small-12 medium-6 large-4 xlarge-6 columns">
              <input type="checkbox" class="store_category box_8" name="selected[]" id="box_8" value="big chill" /> <label for="box_8">The Big Chill</label>
            </li>
            <li class ="small-12 medium-6 large-4 xlarge-6 columns">
              <input type="checkbox" class="store_category box_9" name="selected[]" id="box_9" value="bang" />
              <label for="box_9">Bang Bang</label>
            </li>
            <li class="small-12 medium-6 large-4 xlarge-6 columns">
              <input type="checkbox" class="store_category box_10" name="selected[]" id="box_10" value="lickadee" /> <label for="box_10">Lickadee Split</label>
            </li>
            <li class="small-12 medium-6 large-4 xlarge-6 columns">
              <input type="checkbox" class="store_category box_11" name="selected[]" id="box_11" value="summer's" /> <label for="box_11">Summer's</label>
            </li>
            <li class="small-12 medium-6 large-4 xlarge-6 columns">
              <input type="checkbox" class="store_category box_12" name="selected[]" id="box_12" value="fugo" /> <label for="box_12">Fugo Desserts</label>
            </li>
            <li class="small-12 medium-6 large-4 xlarge-6 columns">
              <input type="checkbox" class="store_category box_13" name="selected[]" id="box_13" value="demetre" /> <label for="box_13">Caffe Demetre</label>
            </li><li class="small-12 medium-6 large-4 xlarge-6 columns">
              <input type="checkbox" class="store_category box_14" name="selected[]" id="box_14" value="junction" /> <label for="box_14">Ice Cream Junction</label>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </li>




  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title cat2"><b>Soft Serve &amp; Frozen Yogurt</b></a>
    <div class="accordion-content boxtab" data-tab-content>
      <ul>
        <li>
        <input type="checkbox" name="all" id="all" />
        <label for='all'><b>Select All</b></label>
          <ul class="row">
            <li class="small-12 medium-6 large-4 xlarge-6 columns">
              <input type="checkbox" class="store_category" name="selected[]" id="box_1b" value="dairy queen" /> <label for="box_1b">Dairy Queen</label>
            </li>
            <li class="small-12 medium-6 large-4 xlarge-6 columns">
              <input type="checkbox" class="store_category box_2b" name="selected[]" id="box_2b" value="yogurty" />
              <label for="box_2b">Yogurty's</label>
            </li>
            <li class="small-12 medium-6 large-4 xlarge-6 columns">
              <input type="checkbox" class="store_category box_3b" name="selected[]" id="box_3b" value="yogen" />
              <label for="box_3b">Yogen Fruz</label>
            </li>
            <li class="small-12 medium-6 large-4 xlarge-6 columns">
              <input type="checkbox" class="store_category" name="selected[]" id="box_4b" value="mench" />
              <label for="box_4b">Menchie's</label>
            </li>
            <li class="small-12 medium-6 large-4 xlarge-6 columns">
              <input type="checkbox" class="store_category" name="selected[]" id="box_5b" value="jesus" /> <label for="box_5b">Sweet Jesus</label>
            </li>
            <li class="small-12 medium-6 large-4 xlarge-6 columns">
              <input type="checkbox" class="store_category" name="selected[]" id="box_6b" value="freeze" />
              <label for="box_6b">Tom's Dairy Freeze</label>
            </li>
            <li class="small-12 medium-6 large-4 xlarge-6 columns">
              <input type="checkbox" class="store_category" name="selected[]" id="box_7b" value="roselle" />
              <label for="box_7b">Roselle Desserts</label>
            </li>
            <li class="small-12 medium-6 large-4 xlarge-6 columns">
              <input type="checkbox" class="store_category" name="selected[]" id="box_8b" value="bench" />
              <label for="box_8b">The Red Bench</label>
            </li>
            <li class="small-12 medium-6 large-4 xlarge-6 columns">
              <input type="checkbox" class="store_category" name="selected[]" id="box_9b" value="momofuku" />
              <label for="box_9b">Momofuku Milk Bar</label>
            <li class="small-12 medium-6 large-4 xlarge-6 columns">
              <input type="checkbox" class="store_category" name="selected[]" id="box_10b" value="diperie" />
              <label for="box_10b">La Diperie</label>
            </li>
            <li class="small-12 medium-6 large-4 xlarge-6 columns">
              <input type="checkbox" class="store_category" name="selected[]" id="box_11b" value="tetsu's japanese mat" />
              <label for="box_11b">Uncle Testu's Matcha</label>
            </li>
            <li class="small-12 medium-6 large-4 xlarge-6 columns">
              <input type="checkbox" class="store_category" name="selected[]" id="box_12b" value="tsujiri" />
              <label for="box_12b">Tsujiri</label>
            <li class="small-12 medium-6 large-4 xlarge-6 columns">
              <input type="checkbox" class="store_category" name="selected[]" id="box_13b" value="dekefir" />
              <label for="box_13b">deKefir</label>
            </li>
            <li class="small-12 medium-6 large-4 xlarge-6 columns">
              <input type="checkbox" class="store_category" name="selected[]" id="box_14b" value="yoyo" />
              <label for="box_14b">YoYo's Yogurt Cafe</label>
            </li>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </li>




  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title cat3"><b>Gelato</b></a>
    <div class="accordion-content boxtab" data-tab-content>
      <ul>
        <li>
        <input type="checkbox" name="all" id="all" />
        <label for='all'><b>Select All</b></label>
          <ul class="row">
        <li class="small-12 medium-6 large-4 xlarge-6 columns">
              <input type="checkbox" class="store_category" name="selected[]" id="box_1c" value="g for" />
          <label for="box_1c">G for Gelato</label>
        </li>
        <li class="small-12 medium-6 large-4 xlarge-6 columns">
              <input type="checkbox" class="store_category" name="selected[]" id="box_2c" value="00" />
          <label for="box_2c">00 Gelato</label>
        </li>
        <li class="small-12 medium-6 large-4 xlarge-6 columns">
              <input type="checkbox" class="store_category" name="selected[]" id="box_3c" value="hollywood gelato" />
          <label for="box_3c">Hollywood Gelato</label>
        </li>
        <li class="small-12 medium-6 large-4 xlarge-6 columns">
              <input type="checkbox" class="store_category" name="selected[]" id="box_4c" value="froshberg" />
          <label for="box_4c">Froshberg Gelato</label>
        </li>
        <li class="small-12 medium-6 large-4 xlarge-6 columns">
              <input type="checkbox" class="store_category" name="selected[]" id="box_5c" value="dolce g" />
          <label for="box_5c">Dolce Gelato</label>
        </li>
        <li class="small-12 medium-6 large-4 xlarge-6 columns">
              <input type="checkbox" class="store_category" name="selected[]" id="box_6c" value="kekou" />
          <label for="box_6c">Kekou Gelato House</label>
        </li>
        <li class="small-12 medium-6 large-4 xlarge-6 columns">
              <input type="checkbox" class="store_category" name="selected[]" id="box_7c" value="hotel g" />
          <label for="box_7c">Hotel Gelato</label>
        </li>
        <li class="small-12 medium-6 large-4 xlarge-6 columns">
              <input type="checkbox" class="store_category" name="selected[]" id="box_8c" value="boreal" />
          <label for="box_8c">Boreal Gelato</label>
        </li>
        <li class="small-12 medium-6 large-4 xlarge-6 columns">
              <input type="checkbox" class="store_category" name="selected[]" id="box_9c" value="vizziata" />
          <label for="box_9c">La Vizziata</label>
        </li>
        <li class="small-12 medium-6 large-4 xlarge-6 columns">
              <input type="checkbox" class="store_category" name="selected[]" id="box_10c" value="soma" />
          <label for="box_10c">Soma Chocolatemaker</label>
        </li>
        <li class="small-12 medium-6 large-4 xlarge-6 columns">
              <input type="checkbox" class="store_category" name="selected[]" id="box_11c" value="paloma" />
          <label for="box_11c">La Paloma</label>
        </li>
        <li class="small-12 medium-6 large-4 xlarge-6 columns">
              <input type="checkbox" class="store_category" name="selected[]" id="box_12c" value="grinning" />
          <label for="box_12c">Grinning Face</label>
          <li class="small-12 medium-6 large-4 xlarge-6 columns">
              <input type="checkbox" class="store_category" name="selected[]" id="box_13c" value="arte" />
          <label for="box_13c">Arte Gelato</label>
        </li>
        <li class="small-12 medium-6 large-4 xlarge-6 columns">
              <input type="checkbox" class="store_category" name="selected[]" id="box_14c" value="lick it" />
          <label for="box_14c">Lick It Gelato</label>
        </li>
        </ul>
        </li>
      </ul>
    </div>
  </li>



  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title cat4"><b>Other Frozen Treats</b></a>
    <div class="accordion-content boxtab" data-tab-content style="width: 95%; border-radius: 5px; margin: -8px 0 5px 15px; border: 1px solid #66A29D;">
      <ul>
        <li>
        <input type="checkbox" name="all" id="all" />
        <label for='all'><b>Select All</b></label>
        <ul class="row">
          <li class="small-12 medium-6 large-4 xlarge-6 columns">
              <input type="checkbox" class="store_category" name="selected[]" id="box_1d" value="sammies" />
            <label for="box_1d">Sweet Sammies</label>
          </li>
          <li class="small-12 medium-6 large-4 xlarge-6 columns">
              <input type="checkbox" class="store_category" name="selected[]" id="box_2d" value="bots" />
            <label for="box_2d">Bakerbots</label>
          </li>
          <li class="small-12 medium-6 large-4 xlarge-6 columns">
              <input type="checkbox" class="store_category" name="selected[]" id="box_3d" value="bar ape" />
            <label for="box_3d">Bar Ape</label>
          </li>
          <li class="small-12 medium-6 large-4 xlarge-6 columns">
              <input type="checkbox" class="store_category" name="selected[]" id="box_4d" value="booyah" />
            <label for="box_4d">Booyah</label>
          </li>
          <li class="small-12 medium-6 large-4 xlarge-6 columns">
              <input type="checkbox" class="store_category" name="selected[]" id="box_5d" value="arctic" />
            <label for="box_5d">Arctic Bites</label>
          </li>
          <li class="small-12 medium-6 large-4 xlarge-6 columns">
              <input type="checkbox" class="store_category" name="selected[]" id="box_6d" value="baker malt" />
            <label for="box_6d">Bean &amp; Baker Malt Shop</label>
          </li>
          <li class="small-12 medium-6 large-4 xlarge-6 columns">
              <input type="checkbox" class="store_category" name="selected[]" id="box_7d" value="frosty" />
            <label for="box_7d">Frosty Roll</label>
          </li>
          <li class="small-12 medium-6 large-4 xlarge-6 columns">
              <input type="checkbox" class="store_category" name="selected[]" id="box_8d" value="millie" />
            <label for="box_8d">Millie</label>
          </li>
          </ul>
        </li>
      </ul>
    </div>
  </li>
  </ul>
<!--   <button class="listjump"><img src="/assets/list.png"/ style="width: 16px; padding-bottom:2px;"><a href="#jquery_target" class="listjumpa">&nbsp;View selected in a list</a></button>
 -->
  <button class="mylocator"><img src="/assets/location.png" style="padding-bottom:3px;">&nbsp;Find Me</button>
</div>


<div id="map"></div>
<br/>
</div>

<div>
  <br />
  <br />
</div>
