<h1>Frotogo</h1>

<div id="map">
</div>

<br />

<label><input class="store_category" type="checkbox" name="baskin" value="Baskin Robbins">Baskin Robbins</label>

<label><input class="store_category" type="checkbox" name="dairy" value="Dairy Queen">Dairy Queen</label>

<label><input class="uncheck_all" type="checkbox" value="uncheck all">Uncheck All</label>

<br />

<br />

<div id="jquery_target"/></div>
