/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*==========LOADING FONTS============*/

 @import url(https://fonts.googleapis.com/css?family=Comfortaa|Raleway:700|Hammersmith+One|Julius+Sans+One);

 /*===================================*/
  html {
 font-size: 62.5%;
 }

 body {
   list-style: none;
   text-decoration: none;
   background-color: #079abc;
 }

 .new_div {
   display: inline-block;
   margin: 2px 2px 2px 2px;
   float: left;
   margin: 0 auto;
   width: 15%;
   height: 300px;
   border: 1px solid black;
   transition: width 2s;
 }

/*=============HEADER============*/

.show_header {
  position: relative;
  z-index: 1;
  width: 100%;
  text-align: center;
	-webkit-filter: blur(8px) contrast(0.4) brightness(1.4);
	-moz-filter: blur(8px) contrast(0.4) brightness(1.4);
	-o-filter: blur(8px) contrast(0.4) brightness(1.4);
	-ms-filter: blur(8px) contrast(0.4) brightness(1.4);
	clip: rect(520px 573px 516px 351px);
	transition: all 0.5s ease-in-out;
	-webkit-transform: translate3d(0,0,0);
}

#test {
	width: 200px;
	padding: 2em 0;
	visibility: hidden;
  margin: auto;
}

.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;

	animation-duration: 1s;
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;

	visibility: visible !important;
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}
	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}
	50%{
		-webkit-transform: translateY(8%);
	}
	65%{
		-webkit-transform: translateY(-4%);
	}
	80%{
		-webkit-transform: translateY(4%);
	}
	95%{
		-webkit-transform: translateY(-2%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}
}

#logo {
  display: none;
  font-size: 3.5em;
  display: inline-block;
  color: white;
  font-family: 'Raleway';
  opacity: 1;
  text-shadow: 0.5px 0.5px 1px #000000;
  opacity: 1;
  user-select: none;
  transition: 0.2s;
  -webkit-user-select: none;
}

.store_detail h1 {
  font-size: 2.5em;
}


/*=================SHOW PAGE STYLING================*/

#phone {
  color: white;
  font-size: 2em;
}
