body {
  background-color: #F9FFD2;
}

#map {
  height: 400px;
  width: 50%;
  border: 2px solid #999;
  margin: auto;
  box-shadow: inset 0 0 5px rgba(100,100,100,0.7);
}

.storedetail {
  display: inline;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px;
  border-radius: 5px;
  margin: auto;

}

.biglogo {
  position: relative;
  width: 15%;
  height: auto;
  margin: auto;
}

.search_box_caption {

    width: 75%;
    position: relative;
    top: 0; bottom: 0; right: 0; left: 0;
    padding-left: 20px;
    padding-top: 5px;
    border: 2px solid #999;
    border-bottom: 0px;
    border-left: 0px;
    border-radius: 0px;
    border-top-right-radius: 10px;
    background: linear-gradient(to right,  #F9FFD2 0%, rgba(0, 158, 251, 0.35) 100%);
    box-shadow: inset 0 5 0px rgba(100,100,100,0.7);
    margin-bottom: -8px;

}

.search_box {

    width: 95%;
    height: auto;
    position: relative;
    top: 0; bottom: 0; right: 0; left: 0;
    padding: 10px;
    border: 2px solid #999;
    border-radius: 0;
    border-top-right-radius: 20px;
    margin: auto;
    background-color: #81D8D0;
    box-shadow: inset 0 0 5px rgba(100,100,100,0.7);

    li {
      list-style-type: none;
    }
    .cat1 {background: linear-gradient(to bottom,  #eee 0%,#6446A0 35%,#6446A0 75%,#2D2D2D 100%); color: white; font-size: 1.2em; width: 100%; height: 15%; border-radius: 20px; outline: none; margin: 1px; border: 2px solid #66A29D;}
    .cat2 {background: linear-gradient(to bottom,  #eee 0%,#F169C8 35%,#F169C8 75%,#2D2D2D 100%); color: white; font-size: 1em; width: 100%; height: 15%; border-radius: 20px; outline: none; margin: 1px; border: 2px solid #66A29D;}
    .cat3 {background: linear-gradient(to bottom,  #eee 0%,#D49F00 35%,#D49F00 75%,#2D2D2D 100%); color: white; letter-spacing: 0.05em; font-size: 1.2em; width: 100%; height: 15%; border-radius: 20px; outline: none; margin: 1px; border: 2px solid #66A29D;}
    .cat4 {background: linear-gradient(to bottom,  #eee 0%,#223EA5 35%,#223EA5 75%,#2D2D2D 100%); color: white; letter-spacing: 0.05em; font-size: 1em; width: 100%; height: 15%; border-radius: 20px; outline: none; margin: 1px; border: 2px solid #66A29D;}
    .boxtab {width: 95%; border-radius: 5px; margin: -8px 0 5px 15px; border: 1px solid #66A29D;}

    .accordion-item:first-child > :first-child {border-radius: 20px;}
    .accordion-item:last-child:not(.is-active) > .accordion-title {border-radius: 20px;}
}

.list_jump {

    width: 95%;
    height: auto;
    position: relative;
    top: 0; bottom: 0; right: 0; left: 0;
    padding: 10px;
    border: 2px solid #999;
    margin: auto;
    background-color: #FFF;
    box-shadow: inset 0 0 5px rgba(100,100,100,0.7);
}

.indexice {
  width: 94%;
  height: 240px;
  margin-left: 20px;

}

.footimgl {
  width: 80px;
  height: auto;
}
.footimgr {
  width: 80px;
  height: auto;
}
.footcontent {
  background: -webkit-linear-gradient(#eee 0%, #223EA5 35%, #223EA5 75%, #2D2D2D 100%);
  background: -o-linear-gradient(#eee 0%, #223EA5 35%, #223EA5 75%, #2D2D2D 100%);
  background: linear-gradient(#eee 0%, #223EA5 35%, #223EA5 75%, #2D2D2D 100%); color: white; letter-spacing: 0.05em; font-size: 1em;
  margin-top: 4%;
}


/*========== SHOW PAGE STYLING ============/*

/*==========LOADING FONTS============*/

@import url(https://fonts.googleapis.com/css?family=Comfortaa|Raleway:700|Hammersmith+One|Julius+Sans+One);

/*===================================*/
html {
font-size: 62.5%;
}

body {
  list-style: none;
  text-decoration: none;
  background: rgba(255,143,173,1);
}

ul, li {
  list-style: none;
}

.new_div {
  display: inline-block;
  margin: 2px 2px 2px 2px;
  float: left;
  margin: 0 auto;
  width: 15%;
  height: 300px;
  border: 1px solid black;
  transition: width 2s;
}

/*=============HEADER============*/

.show_header {
 position: relative;
 z-index: 1;
 width: 100%;
 text-align: center;
 -webkit-filter: blur(8px) contrast(0.4) brightness(1.4);
 -moz-filter: blur(8px) contrast(0.4) brightness(1.4);
 -o-filter: blur(8px) contrast(0.4) brightness(1.4);
 -ms-filter: blur(8px) contrast(0.4) brightness(1.4);
 clip: rect(520px 573px 516px 351px);
 transition: all 0.5s ease-in-out;
 -webkit-transform: translate3d(0,0,0);
}

#test {
 width: 200px;
 padding: 2em 0;
 visibility: hidden;
 margin: auto;
}

.slideDown{
 animation-name: slideDown;
 -webkit-animation-name: slideDown;

 animation-duration: 1s;
 -webkit-animation-duration: 1s;

 animation-timing-function: ease;
 -webkit-animation-timing-function: ease;

 visibility: visible !important;
}

@keyframes slideDown {
 0% {
   transform: translateY(-100%);
 }
 50%{
   transform: translateY(8%);
 }
 65%{
   transform: translateY(-4%);
 }
 80%{
   transform: translateY(4%);
 }
 95%{
   transform: translateY(-2%);
 }
 100% {
   transform: translateY(0%);
 }
}

@-webkit-keyframes slideDown {
 0% {
   -webkit-transform: translateY(-100%);
 }
 50%{
   -webkit-transform: translateY(8%);
 }
 65%{
   -webkit-transform: translateY(-4%);
 }
 80%{
   -webkit-transform: translateY(4%);
 }
 95%{
   -webkit-transform: translateY(-2%);
 }
 100% {
   -webkit-transform: translateY(0%);
 }
}

#logo {
 display: none;
 font-size: 4em;
 display: inline-block;
 color: white;
 font-family: 'Raleway';
 opacity: 1;
 text-shadow: 0.5px 0.5px 1px #000000;
 opacity: 1;
 user-select: none;
 transition: 0.2s;
 -webkit-user-select: none;
}

.store_detail h1 {
 font-size: 2.5em;
}

/*=================SHOW PAGE STYLING================*/

#phone {
 color: white;
 font-size: 2em;
 text-decoration: underline;
 transition: 0.2s;
}

#phone:hover {
 font-weight: bold;
}

.store_detail {
 width: 50%;
 text-align: center;
 margin: auto;
}

.address {
 font-size: 2em;
}

/*===============FOOTER STYLING=================*/

footer {
 width: 100%;
 height: 20%;
 line-height: 20%;
 background-color: #079abc;
}

footer p {
 position: relative;
 top: 20%;
 left: 5%;
 color: white;
 opacity: 0.9;
 font-size: 1.6em;
}

.footer_menu {
 float: right;
}

.footer_menu a {
 color: white;
 font-size: 1.6em;
 margin-right: 100%;
}
