body {
  background-color: #F9FFD2;
}

#map {
  height: 400px;
  width: 50%;
  border: 2px solid #999;
  border-radius: 10px;
  margin: auto;
  box-shadow: inset 0 0 10px rgba(100,100,100,0.7);

  @media screen and (max-width: 999px) {
    width: 95%;
    height: 300px;
  }
}

.storedetail {
  display: inline;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px;
  border-radius: 5px;
  margin: auto;
}



.biglogo {
  position: relative;
  width: 20%;
  max-width: 400px;
  height: auto;
  margin: auto;
}

.search_box_caption {
    line-height: 0.75rem;
    width: 80%;
    position: relative;
    top: 0; bottom: 0; right: 0; left: 0;
    padding: 5px 10px 5px 5px;
    border: 2px solid #999;
    border-bottom: 0px;
    border-left: 0px;
    border-top-right-radius: 10px;
    background: linear-gradient(to right,  #F9FFD2 0%, rgba(0, 158, 251, 0.35) 100%);
    box-shadow: inset 0 5 0px rgba(100,100,100,0.7);
    margin-bottom: -8px;
    font-family: 'Hind', sans-serif;
    font-size: 14px;
    color: #223EA5;
}
.big_box {
    width: 95%;
    height: auto;
    position: relative;
    top: 0; bottom: 0; right: 0; left: 0;
    padding: 10px;
    border: 2px solid #999;
    border-radius: 0;
    border-top-right-radius: 20px;
    margin: auto;
    background-color: #5CBFB6;
    box-shadow: inset 0 0 5px rgba(100,100,100,0.7);
}

.search_box {
    width: 50%;
    height: auto;
    float: left;
    position: relative;
    top: 0; bottom: 0; right: 0; left: 0;
    padding: 0 10px 0 0;
    border: 0;
    box-shadow: inset 0 0 0;
    margin: auto;
    @media screen and (max-width: 999px) {
    width: 100%;
  }


    .boxtab {
      width: 95%;
      border-radius: 5px;
      border: 1px solid #5CBFB6;
      margin: -8px 0 5px 25px;
      @media screen and (max-width: 549px) {

  }

    }

    li {
      list-style-type: none;
    }

    [type=checkbox] {
      margin: 0;
    }

    a {
      color: white;
      width: 100%;
      height: 40px;
      letter-spacing: 0.025rem;
      border-radius: 15px;
      outline: none;
      margin: 1px;
      border: 2px solid #66A29D;
      padding: 0.5rem 1rem;
    }

    a:hover, a:focus {
      box-shadow: 0 0 8px #fff;
    }


    .accordion-item:first-child > :first-child {
      border-radius: 15px;
    }

    .cat1 {
      background: linear-gradient(to bottom,  #ddd 0%,#6446A0 35%,#6446A0 75%,#2D2D2D 100%);
      font-size: 1.2em;
    }

    a.cat1:hover, a.cat1:focus {
      background: linear-gradient(to bottom,  #ddd 0%,#493475 35%,#6446A0 75%,#2D2D2D 100%);
    }

    .cat2 {
      background: linear-gradient(to bottom,  #ddd 0%,#F169C8 35%,#F169C8 75%,#2D2D2D 100%);
      font-size: 1em;
    }

    a.cat2:hover, a.cat2:focus {
      background: linear-gradient(to bottom,  #ddd 0%,#8A326F 35%,#F169C8 75%,#2D2D2D 100%);
    }

    .cat3 {background: linear-gradient(to bottom,  #ddd 0%,#EFB60C 35%,#EFB60C 75%,#2D2D2D 100%);
      font-size: 1.2em;
    }
    a.cat3:hover, a.cat3:focus {
      background: linear-gradient(to bottom,  #ddd 0%,#846301 35%, #EFB60C 75%,#2D2D2D 100%);
    }
    .cat4 {background: linear-gradient(to bottom,  #ddd 0%,#223EA5 35%,#223EA5 75%,#2D2D2D 100%);
      font-size: 1em;
    }
    a.cat4:hover, a.cat4 :focus {
      background: linear-gradient(to bottom,  #ddd 0%,#122158 35%, #223EA5 75%,#2D2D2D 100%);
    }


    .listjump {
      width: 50%;
      height: 30px;
      border: 2px solid #66A29D;
      background-color: rgba(255,255,255,0.5);
      border-radius: 10px;
      float: left;
      padding: 3px;
      margin: -8px 0 10px 0;
    }

    .listjumpa {
      color: black;
      width: 100%;
      height: 30px;
      outline: none;
      margin: 0;
      border: 1px;
      padding: 0;
    }
      a.listjumpa:hover, a.listjumpa:focus {
      box-shadow: 0 0 0 0;
    }
    .mylocator {
      width: 40%;
      height: 30px;
      border: 2px solid #66A29D;
      background-color: rgba(255,255,255,0.5);
      color: black;
      border-radius: 10px;
      float: right;
      padding: 3px;
      margin: -8px 0 10px 0;
    }









    .accordion-item:last-child:not(.is-active) > .accordion-title {
      border: 2px solid #66A29D;
      border-radius: 15px;
      height: 40px;
    }

}





.indexice {
  width: 94%;
  height: 240px;
  margin-left: 20px;

}

.footimgl {
  width: 80px;
  height: auto;
}
.footimgr {
  width: 80px;
  height: auto;
}
.footcontent {
  background: -webkit-linear-gradient(#eee 0%, #223EA5 35%, #223EA5 75%, #2D2D2D 100%);
  background: -o-linear-gradient(#eee 0%, #223EA5 35%, #223EA5 75%, #2D2D2D 100%);
  background: linear-gradient(#eee 0%, #223EA5 35%, #223EA5 75%, #2D2D2D 100%); color: white; letter-spacing: 0.05em; font-size: 1em;
  margin-top: 4%;
}
