
/*==========LOADING FONTS============*/

@import url(https://fonts.googleapis.com/css?family=Comfortaa|Raleway:700|Hammersmith+One|Julius+Sans+One);

/*===================================*/
html {
  font-size: 62.5%;
  background: linear-gradient(#ffb6c1, #ffe9ec);
}

body {
  list-style: none;
  text-decoration: none;
  background: rgba(255,143,173,1);
  background: linear-gradient(#ffb6c1, #ffe9ec);
}

ul, li {
  list-style: none;
}

.new_div {
  display: inline-block;
  margin: 2px 2px 2px 2px;
  float: left;
  margin: 0 auto;
  width: 15%;
  height: 300px;
  border: 1px solid black;
  transition: width 2s;
}

/*=============HEADER============*/

.show_header {
 position: relative;
 z-index: 1;
 width: 100%;
 text-align: center;
}

#logo_div {
 width: 200px;
 padding: 2em 0;
 visibility: hidden;
 margin: auto;

    .slideDown{
     animation-name: slideDown;
     -webkit-animation-name: slideDown;

     animation-duration: 1s;
     -webkit-animation-duration: 1s;

     animation-timing-function: ease;
     -webkit-animation-timing-function: ease;

     visibility: visible !important;
    }

    @keyframes slideDown {
     0% {
       transform: translateY(-100%);
     }
     50%{
       transform: translateY(8%);
     }
     65%{
       transform: translateY(-4%);
     }
     80%{
       transform: translateY(4%);
     }
     95%{
       transform: translateY(-2%);
     }
     100% {
       transform: translateY(0%);
     }
    }

    @-webkit-keyframes slideDown {
     0% {
       -webkit-transform: translateY(-100%);
     }
     50%{
       -webkit-transform: translateY(8%);
     }
     65%{
       -webkit-transform: translateY(-4%);
     }
     80%{
       -webkit-transform: translateY(4%);
     }
     95%{
       -webkit-transform: translateY(-2%);
     }
     100% {
       -webkit-transform: translateY(0%);
     }
  }
}

#logo {
 display: none;
 font-size: 4.5em;
 display: inline-block;
 color: white;
 font-family: 'Raleway';
 opacity: 1;
 text-shadow: 0.5px 0.5px 1px #000000;
 opacity: 1;
 user-select: none;
 transition: 0.2s;
 -webkit-user-select: none;
}

.store_detail h1 {
 font-size: 2.5em;
}

/*=================SHOW PAGE CONTAINER================*/

.store_container {
  width: 65%;
  height: 60%;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #81d8d0;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.store_container h1 {
  color: white;
}

#phone {
 color: white;
 font-size: 2em;
 text-decoration: underline;
 transition: 0.2s;
}

#phone:hover {
 font-weight: bold;
}

.store_detail {
 width: 50%;
 text-align: center;
 margin: auto;
}

.address {
 font-size: 2em;
}

#store_image {
  border-radius: 50%;
  border: 2px solid white;
}

/*================MAP STYLING====================*/

#map_show {
  height: 90%;
  width: 50%;
  position: relative;
  bottom: 51%;
  left: 23%;
  border-radius: 10px;
}

/*===============FOOTER STYLING=================*/

footer {
  position:fixed;
  bottom: 0;
  width: 100%;
  height: 12%;
  line-height: 10%;
  background-color: rgba(8, 137, 158, 1);
}

footer p {
  position: relative;
  top: 30px;
  left: 5%;
  font-size: 1.4em;
  color: white;
  opacity: 0.8;
}

#logo_bottom {
  margin-left: 430px;
  margin: 0;
  font-family: 'Raleway';
  font-weight: 600;
  font-size: 18px;
  color: #fefcf9;
  text-shadow: 0.5px 0.5px 1px #000000;
  opacity: 0.5;
  transition: 0.2s;
  -webkit-user-select: none;
  transition: 0.2s;
}

#logo_bottom:hover {
  opacity: 0.9;
}

.center_logo {
  position: relative;
  top: 50%;
  text-align: center;
}

.footer_menu {
  float: right;
  text-align: right;
  bottom: 10%;
  position: relative;
  right: 3%;
}

.footer_menu a {
  color: white;
  font-size: 1.6em;
  opacity: 0.8;
}

.footer_menu a:hover {
  opacity: 1;
}

#yelp {
  position: relative;
  right: 40%;
  bottom: 6px;
  height: 30%;
  float: right;
  opacity: 0.6;
}

#yelp:hover {
  opacity: 0.9;
}

#google_maps {
  position: relative;
  right: 50%;
  top: 3px;
  height: 20%;
  float: right;
  opacity: 0.6;
}

#google_maps:hover, #google_maps:focus {
  opacity: 0.9;
}
