
/*==========LOADING FONTS============*/

@import url('//fonts.googleapis.com/css?family=Comfortaa|Raleway:700|Roboto|Cabin|Muli');

/*===================================*/
html {
  font-size: 62.5%;
  background: linear-gradient(#ffb6c1, #ffe9ec);
}

body {
  list-style: none;
  text-decoration: none;
  background: rgba(255,143,173,1);
  background: linear-gradient(#ffb6c1, #ffe9ec);
}

ul, li {
  list-style: none;
}

.new_div {
  display: inline-block;
  margin: 2px 2px 2px 2px;
  float: left;
  margin: 0 auto;
  width: 15%;
  height: 300px;
  border: 1px solid black;
  transition: width 2s;
}

/*=============HEADER============*/

#logo_div {
 width: 200px;
 position: relative;
 top: 10px;
 margin: auto;
 }

.slideDown{
 animation-name: slideDown;
 -webkit-animation-name: slideDown;

 animation-duration: 1s;
 -webkit-animation-duration: 1s;

 animation-timing-function: ease;
 -webkit-animation-timing-function: ease;

 visibility: visible !important;
}

@keyframes slideDown {
 0% {
   transform: translateY(-100%);
 }
 50%{
   transform: translateY(8%);
 }
 65%{
   transform: translateY(-4%);
 }
 80%{
   transform: translateY(4%);
 }
 95%{
   transform: translateY(-2%);
 }
 100% {
   transform: translateY(0%);
 }
}

@-webkit-keyframes slideDown {
 0% {
   -webkit-transform: translateY(-100%);
 }
 50%{
   -webkit-transform: translateY(8%);
 }
 65%{
   -webkit-transform: translateY(-4%);
 }
 80%{
   -webkit-transform: translateY(4%);
 }
 95%{
   -webkit-transform: translateY(-2%);
 }
 100% {
   -webkit-transform: translateY(0%);
 }
  }

#logo {
 display: none;
 font-size: 4.5em;
 display: inline-block;
 color: white;
 font-family: 'Raleway', sans-serif;
 opacity: 1;
 text-shadow: 0.5px 0.5px 1px #000000;
 opacity: 1;
 user-select: none;
 transition: 0.2s;
 -webkit-user-select: none;
}

/*=================SHOW PAGE CONTAINER================*/

.store_container {
  position: relative;
  top: 50px;
  width: 50%;
  height: 55%;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #81d8d0;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.store_title {
  position: absolute;
  display: inline-block;
  float: left;
  width: 80%;
  height: 110px;
  line-height: 110px;
  vertical-align: middle;
  border-radius: 10px;
}

#store_name {
  position: relative;
  top: 22%;
  left: 5%;
  color: white;
  line-height: 35px;
  font-size: 3.7em;
  vertical-align: middle;
  font-family: 'Raleway', sans-serif;
  text-shadow: 0.2px 0.2px 0.2px #000000;
}

#store_line {
  position: absolute;
  left: 25px;
  top: 80px;
  width: 100%;
  border: 0.5px solid rgba(255,255,255, 0.7);
  width: 92%;
}

.store_details {
  height: 68%;
}

#address {
 position: absolute;
 top: 100px;
 left: 4%;
 font-size: 2.3em;
 color: white;
 font-family: 'Helvetica Neue', sans-serif;
 font-weight: bold;
 text-shadow: 0.2px 0.2px 0.2px #000000;
}

#phone {
 position: absolute;
 top: 140px;
 left: 4%;
 font-family: 'Helvetica Neue', sans-serif;
 color: white;
 font-size: 2em;
 font-weight: bold;
 transition: 0.2s;
 text-shadow: 0.2px 0.2px 0.2px #000000;
 transition: 0.2s;
}

#phone:hover {
  text-decoration: underline;
}

#rating {
  position: absolute;
  font-size: 2.0em;
  top: 345px;
  left: 5%;
  color: white;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  text-shadow: 0.2px 0.2px 0.2px #000000;
}

#store_image {
  position: relative;
  float: right;
  top: 8px;
  bottom: 30px;
  height: 18%;
  right: 5%;
  border-radius: 50%;
  border: 3px solid white;
}

.rating_image {
  position: absolute;
  top: 380px;
  width: 20%;
  left: 5%;
}

#rating_number {
  color: white;
}

#snippet_1 {
  position: absolute;
  display: inline;
  font-family: 'Helvetica Neue', sans-serif;
  width: 40%;
  font-size: 1.3em;
  top: 230px;
  left: 4%;
  color: white;
  display: inline-block;
  font-style: italic;
}

#snippet_2 {
  position: absolute;
  display: inline;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1.3em;
  width: 40%;
  top: 250px;
  left: 4%;
  color: white;
  display: inline-block;
  font-style: italic;
}

#yelp_reviews {
  position: absolute;
  top: 180px;
  color: white;
  font-size: 2em;
  left: 4%;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  text-shadow: 0.2px 0.2px 0.2px #000000;
  transition: 0.1s;
}

#yelp_reviews:hover {
  color: #e81a3e;
  text-decoration: underline;
}

/*================MAP STYLING====================*/

#map_show {
  position: absolute;
  display: inline-block;
  float: right;
  height: 300px;
  width: 48%;
  top: 25%;
  right: 3%;
  bottom: 1%;
  border-radius: 10px;
  border: 1px solid white;
}

/*===============FOOTER STYLING=================*/

footer {
  position:fixed;
  bottom: 0;
  width: 100%;
  height: 12%;
  line-height: 10%;
  background-color: rgba(8, 137, 158, 1);
  box-shadow: 2px 2px 2px -2px rgba(0, 0, 0, .82);
}

footer p {
  display: inline-block;
  position: relative;
  top: 30px;
  left: 5%;
  font-size: 1.4em;
  color: white;
  opacity: 0.8;
}

#logo_bottom {
  display: inline-block;
  margin-left: 430px;
  bottom: 1px;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1.9em;
  color: #fefcf9;
  text-shadow: 0.5px 0.5px 1px #000000;
  opacity: 0.5;
  transition: 0.2s;
  -webkit-user-select: none;
  transition: 0.1s;
}

#logo_bottom:hover {
  opacity: 0.8;
}

.center_logo {
  position: relative;
  top: 50%;
  text-align: center;
}

.footer_menu {
  float: right;
  top: 15px;
  text-align: right;
  position: relative;
  right: 5%;
}

.footer_menu a {
  color: white;
  font-size: 1.6em;
  opacity: 0.7;
}

.footer_menu a:hover {
  opacity: 1;
}

.reviews_yelp {
  font-size: 1.6em;
  color: white;
}

.reviews_yelp:hover {
  color: #e91e63;
}

#yelp {
  position: relative;
  right: 40%;
  top: 27px;
  height: 30%;
  float: right;
  opacity: 0.6;
  transition: 0.1s;
}

#yelp:hover {
  opacity: 0.9;
}

#google_maps {
  position: relative;
  right: 50%;
  top: 35px;
  height: 20%;
  float: right;
  opacity: 0.6;
  transition: 0.1s;
}

#google_maps:hover, #google_maps:focus {
  opacity: 0.9;
}
